<h1>Password Generator</h1>

<div>
  <label>Enter Length </label>
  <input (input)="justClicked()"  />
</div>

<div>
  <label>Use Letters </label>
  <input (change)="onChangeUseLetters()" type="checkbox" />
</div>

<div>
  <label onmouseover="getElementById('demo').innerHTML = Date()">Use Numbers </label>
  <input (change)="onChangeUseNumbers()" type="checkbox" (click)="chk01()" />
  <p id="demo"></p>
</div>


<div>
  <label>Use Symbols </label>
  <input (change)="onChangeUseSymbols()" type="checkbox" />
</div>

<div>
<button (click)="justClicked()" (click)="justClicked2()">Generate</button>
</div>

<div>
  <label>Your Password </label>
  <textarea [value]='password'></textarea>

</div>

<button [disabled]="isUnchanged">Save</button>

{{
 password
}}

{{ getName()}}
